@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos online</h1>
    <p>Gerenciamento de empréstimos de livros</p>
    <div>
        <img src="/img/read_book_study_icon-icons.com_51077.png" />
    </div>
</div>
